<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{email.shareprofil.creation.title}">JHipster creation</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}" />
    </head>
    <body>
        <p th:text="#{email.global.greeting(${user.login})}">
            Dear
        </p>
        <p th:text="#{email.shareprofil.creation.text1}">
            Your JHipster account has been created, please click on the URL below to access it:
        </p>
        <p>
          <a th:href="@{|${baseUrl}/#/share-profil/${profil.id}|}"
             th:text="@{|${baseUrl}/#/share-profil/${profil.id}|}">Login link</a>
        </p>
        <p>
            <span th:text="#{email.global.courtesy}">Regards, </span>
            <br/>
            <em th:text="#{email.global.signature}">JHipster.</em>
        </p>
    </body>
</html>
