
<div *ngIf="address">
    <h2><span jhiTranslate="cvthequeApp.address.detail.title">Address</span> {{address.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="cvthequeApp.address.at">At</span></dt>
        <dd>
            <span>{{address.at}}</span>
        </dd>
        <dt><span jhiTranslate="cvthequeApp.address.dispatch">Dispatch</span></dt>
        <dd>
            <span>{{address.dispatch}}</span>
        </dd>
        <dt><span jhiTranslate="cvthequeApp.address.address">Address</span></dt>
        <dd>
            <span>{{address.address}}</span>
        </dd>
        <dt><span jhiTranslate="cvthequeApp.address.additionalAddress">Additional Address</span></dt>
        <dd>
            <span>{{address.additionalAddress}}</span>
        </dd>
        <dt><span jhiTranslate="cvthequeApp.address.zipCode">Zip Code</span></dt>
        <dd>
            <span>{{address.zipCode}}</span>
        </dd>
        <dt><span jhiTranslate="cvthequeApp.address.city">City</span></dt>
        <dd>
            <span>{{address.city}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'address/'+ address.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
