<div>
    <h2>
        <span jhiTranslate="cvthequeApp.documentProfil.home.title">Document Profils</span>
        <button class="btn btn-primary float-right jh-create-entity create-document-profil" [routerLink]="['/', { outlets: { popup: ['document-profil-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="cvthequeApp.documentProfil.home.createLabel">
            Create new Document Profil
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'cvthequeApp.documentProfil.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="documentProfils">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="documentFile"><span jhiTranslate="cvthequeApp.documentProfil.documentFile">Document File</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="shareProfilId"><span jhiTranslate="cvthequeApp.documentProfil.shareProfil">Share Profil</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="recrutementProfilId"><span jhiTranslate="cvthequeApp.documentProfil.recrutementProfil">Recrutement Profil</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let documentProfil of documentProfils ;trackBy: trackId">
                <td><a [routerLink]="['../document-profil', documentProfil.id ]">{{documentProfil.id}}</a></td>
                <td>
                    <a *ngIf="documentProfil.documentFile" (click)="openFile(documentProfil.documentFileContentType, documentProfil.documentFile)" jhiTranslate="entity.action.open">open</a>
                    <span *ngIf="documentProfil.documentFile">{{documentProfil.documentFileContentType}}, {{byteSize(documentProfil.documentFile)}}</span>
                </td>
                <td>
                    <div *ngIf="documentProfil.shareProfilId">
                        <a [routerLink]="['../share-profil', documentProfil.shareProfilId  ]" >{{documentProfil.shareProfilId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="documentProfil.recrutementProfilId">
                        <a [routerLink]="['../recrutement-profil', documentProfil.recrutementProfilId  ]" >{{documentProfil.recrutementProfilId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../document-profil', documentProfil.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'document-profil/'+ documentProfil.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'document-profil/'+ documentProfil.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="documentProfils && documentProfils.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
